@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;

}

.join-area{
    background: #289BDE;
}

.ready-join{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
}

.button{
    text-align: end;
}

.bottom-slide img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

span.carousel-control-prev-icon{
    background-color: #0dcaf0;
}

span.carousel-control-next-icon{
    background-color: #0dcaf0;
}


.social-icon i{
    padding: 15px;
}

.pipe i{
    color: #fff;
}

.link a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

.link a:hover{
    color: #0dcaf0;
}
@media screen and (max-width: 992px) {
    .join-area{
        width: 100%;
        text-align: center;
    }
    .ready-join{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
 
}